.Container {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.Content {
  max-width: 1120px;
  height: 5rem;
  margin: auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav {
    margin-left: 5rem;
    height: 5rem;

    align-self: center;

    :last-child {
      margin-left: 2rem;
    }

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);
      transition: color 0.3s;

      &:hover {
        color: var(--gray-100)
      }

      &.active {
        color: var(--gray-100);
        font-weight: bold;
      }

      &.active::after{
        content: '';
        height: 3px;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--yellow-500)
      }
    }
  }

  button{
    margin-left: auto;
  }
}
